table {
   width:70%;
   height:60%;
   margin:5% 15% 15% 15%;
}

table img {
   height:300px;
   width:300px;
   align-content:center;

}

td {
   background-color:#F8F8F8;
   height:400px;
   width:400px;
}
