/*Header*/

#header {
   left:50%;
}

h1 {
   text-align:center;
}

ul {
   list-style-type:none;
   text-align:center;
}

li {
   display: inline;
}

/*Homepage Table*/

table {
   width:70%;
   height:60%;
   margin:auto;
   border:5px solid black;
   border-radius:30px;
   background-color:black;
}

td {
   border-radius:30px;
   background-color:black;
}

td img {
   display:block;
   width:670px;
   margin-left:auto;
   margin-right:auto;
   border-radius:30px;
}

td div {
   position:relative;
   z-index:2;
}
