#header {
   left:50%;
}

h1 {
   text-align:center;
}

ul {
   list-style-type:none;
   text-align:center;
}

li {
   display: inline;
}

table {
   width:70%;
   height:60%;
   margin:5% 15%;
}

table img {
   display:block;
   width:550px;
   margin-left:auto;
   margin-right:auto;
}

td {
   background-color:#F8F8F8;
   text-align:center;
}
