@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Monda:400,700);
/*@keyframes fade {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}*/
body {
  background-color: black; }
  body a {
    text-decoration: none; }

.page {
  background-size: cover;
  min-height: 1000px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  font-family: 'Monda', sans-serif; }

#slide1 {
  background-image: url("../images/StolenBackground.jpg");
  height: 150vh; }
  #slide1 div {
    text-align: center;
    width: 100%; }
  #slide1 #introtext {
    margin: auto;
    top: 30%;
    font-family: 'Oleo Script', sans-serif;
    font-size: 2.7em;
    position: fixed;
    color: #94D3D6; }
    #slide1 #introtext a {
      text-decoration: none;
      color: #94D3D6; }
      #slide1 #introtext a i {
        padding-top: 8%; }

#slide2 {
  background-image: url("../images/Routeburn.jpg");
  background-position: center center;
  height: 150vh; }
  #slide2 div {
    padding-top: 20%; }
    #slide2 div #quote {
      padding: .5% 1%;
      margin: auto;
      width: 40%;
      text-align: center;
      background-color: rgba(178, 214, 148, 0.8);
      color: #AC7AD6;
      font-size: 2em;
      border-radius: 8% 2%; }

#home {
  background-color: black;
  color: white;
  width: 80%;
  min-height: 100vh; }
  #home #nav {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    text-align: center; }
    #home #nav #blocks {
      height: 90%;
      width: 100%;
      margin-top: 2.5%;
      font-size: 3em; }
      #home #nav #blocks div {
        height: 50%;
        width: 50%;
        color: white;
        list-style-type: none; }
        #home #nav #blocks div p {
          display: inline-block;
          position: relative;
          top: 25%; }
    #home #nav #about {
      background-color: #94D3D6;
      float: left; }
    #home #nav #about:hover {
      /*         animation: fade 2s;
      */
      background-image: url("../images/AboutMe.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.7s ease 0s; }
    #home #nav #pro {
      float: right;
      background-image: url("../images/Europe.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #home #nav #pro:hover {
      /*         animation: fade 2s;
      */
      background-image: none;
      background-color: #D69794;
      transition: all 0.7s ease 0s; }
    #home #nav #photo {
      float: left;
      background-image: url("../images/Flower.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #home #nav #photo:hover {
      /*         animation: fade 2s;
      */
      background-image: none;
      background-color: #D69794;
      transition: all 0.7s ease 0s; }
    #home #nav #blog {
      background-color: #94D3D6;
      float: right; }
    #home #nav #blog:hover {
      /*         animation: fade 2s;
      */
      background-image: url("../images/HalfMarathon.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.7s ease 0s; }

#footer {
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: #94D3D6;
  font-family: 'Monda', sans-serif; }
  #footer p {
    display: inline-block;
    float: left;
    padding-left: 2%; }
    #footer p a {
      color: #AC7AD6; }
  #footer .lydia {
    font-family: 'Oleo Script', sans-serif;
    float: right;
    padding-right: 5%; }

/*# sourceMappingURL=global.css.map */
